{
    "info": {
      "description": "API for the PlagueCraft Generic Gambit",
      "title": "PCG-API",
      "version": "v1"
    },
    "openapi": "3.0.0",
    "paths": {
        "/bridges": {
            "get": {
              "parameters": [
                {
                  "description": "",
                  "in": "query",
                  "name": "username",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Successful"
                },
                "404": {
                    "description": "User not found in database"
                },
                "500": {
                    "description": "Internal Server Error"
                }
              },
              "summary": "Bridges real-time API",
              "tags": [
                "bridges"
              ]
            }
          },
      "/bridges/_realtime": {
        "get": {
          "responses": {
            "200": {
                "description": "Successful"
              },
              "500": {
                  "description": "Internal Server Error"
              }
          },
          "summary": "Bridges real-time API",
          "tags": [
            "bridges"
          ]
        }
      },
      "/bridges/history": {
        "get": {
          "parameters": [
            {
              "description": "",
              "in": "query",
              "name": "username",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation"
            }
          },
          "summary": "Fetch Bridges game history",
          "tags": [
            "bridges"
          ]
        }
      },
      "/tntrun": {
        "get": {
          "parameters": [
            {
              "description": "",
              "in": "query",
              "name": "username",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful"
            },
            "404": {
                "description": "User not found in database"
            },
            "500": {
                "description": "Internal Server Error"
            }
          },
          "summary": "Fetch player data",
          "tags": [
            "tntrun"
          ]
        }
      },
      "/tntrun/_realtime": {
        "get": {
          "responses": {
            "200": {
                "description": "Successful"
              },
              "500": {
                  "description": "Internal Server Error"
              }
          },
          "summary": "TNTRUN real-time API",
          "tags": [
            "tntrun"
          ]
        }
      }
    },
    "servers": [
      {
        "url": "https://api.plaguecraft.xyz"
      }
    ],
    "tags": [
      {
        "description": "",
        "name": "tntrun"
      },
      {
        "description": "",
        "name": "bridges"
      }
    ]
  }